<section class="package-list grid"
  data-masonry='{ "itemSelector": ".grid-item" }'>
  <% packages.each do |package| %>
  <% package = package.decorated %>
  <div class="package grid-item">
    <strong>
      <a href="/package/<%= package.permalink %>">
        <%= package.humanized_name %>
      </a>
    </strong>
    <% if package.readme_images[0] %>
      <a href="/package/<%= package.permalink %>">
        <img src="<%= package.readme_images[0] %>" alt="" />
      </a>
    <% end %>

    <div class="package-description">
      <%= package.description_html %>
    </div>

    <div class="package-meta">
      <span>
        <span class="octicon octicon-cloud-download"></span>
        <%= package.downloads %>
      </span>
      <span>
        <span class="octicon octicon-star"></span>
        <%= package.stargazers_count %>
      </span>
    </div>
  </div>
  <% end %>
</section>
