<section class="package-list">
  <% packages.each do |package| %>
  <div class="package">
    <strong>
      <a href="/package/<%= package.permalink %>">
        <%= humanize_atom_package_name(package.name) %>
      </a>
    </strong>

    <div class="package-description">
      <%= markdown(package.description) %>
    </div>


    <div class="package-meta">
      <%= package.downloads %> <%= package.stargazers_count %>
    </div>
  </div>
  <% end %>
</section>
