
<% top_categories.each do |category| %>
<div class="category">
  <header>
    <h2><a href="/category/<%= category.permalink %>"><%= category.name %></a></h2>
    (<%= category.packages_count %> packages)
  </header>
  <div class="category-subcategories">
    <ul>
      <% category.sub_categories.limit(21).each do |category| %>
        <% category = category.decorated %>
        <li>
          <a href="/category/<%= category.permalink %>">
            <% if category.image_path %>
              <img src="<%= image_path category.image_path %>" />
            <% end %>
            <%= category.name %><br/>
            <span class="packages_count">(<%= category.packages_count %> packages)</span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% not_so_top_categories.each do |category| %>
  <a href="/category/<%= category.permalink %>"><%= category.name %></a> |
<% end %>

<%= packages_count %> packages.
