<ul>
  <% @package.categories.each do |category| %>
      <li>
        <a href="/category/<%= category.permalink %>"><%= category.name %></a>
        <a href="/uncategorise/<%= @package.permalink %>/from/<%= category.permalink %>">
          <span class="octicon octicon-trashcan"></span>
        </a>
      </li>
  <% end %>
</ul>

<h1><%= @package.humanized_name %></h1>
<%= markdown(@package.readme) %>

<% if  @package.categories.count == 0 %>
  <% if @categories %>
  Categorise as:
    <ul>
    <% @categories.each do |category| %>
      <% unless @package.categories.include?(category) %>
        <li><a href="/categorise/<%= @package.permalink %>/as/<%= category.permalink %>"><%= category.name %></a></li>
      <% end %>
    <% end %>
    </ul>
  <% end %>

  <% if @package.keywords %>
  Category from Keyword:
    <ul>
      <% @package.keywords.each do |keyword| %>
        <li><a href="/categorise/<%= @package.permalink %>/as/<%= keyword %>"><%= keyword %></a></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
