<h1>
  <% if category.parent_category %>
    <span>
      <a href="/category/<%= category.parent_category.permalink %>">
        <%= category.parent_category.name %></a> »
    </span>
  <% end %>
  <%= category.name %>
</h1>

<% if category.sub_categories %>
    <% category.sub_categories.each do |category| %>
        <a href="/category/<%= category.permalink %>"><%= category.name %></a>  |
    <% end %>
<% end %>

<%= partial :_package_list, locals: { packages: category.packages } %>
